@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300&display=swap');

html {
    background-color: white;
    top: 0;
    margin: 0;
}

body {
    margin: 0px;
    overflow-x: hidden;
}

.bg {
    position: relative;
    z-index: -1;
    top: 150px;
    left: 50%;
    height: 50%;
    width: 50%;
}
li {
    list-style: none;
  }
  a{
    text-decoration: none;
  }
.home-content {
    text-align: center;
}